In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB

In [2]:
ds_hmeq = pd.read_csv('./Downloads/week4day1/HMEQ.csv',engine='python')
ds_hmeq.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1700,30548,40320.0,HomeImp,Other,9.0,0,0.0,101.466002,1.0,8,37.113614
1,1,1800,28502,43034.0,HomeImp,Other,11.0,0,0.0,88.766030,0.0,8,36.884894
2,0,2300,102370,120953.0,HomeImp,Office,2.0,0,0.0,90.992533,0.0,13,31.588503
3,1,2400,34863,47471.0,HomeImp,Mgr,12.0,0,0.0,70.491080,1.0,21,38.263601
4,0,2400,98449,117195.0,HomeImp,Office,4.0,0,0.0,93.811775,0.0,13,29.681827

In [8]:
ds_hmeq.fillna(ds_hmeq.mean(),inplace=True)

In [9]:
ds_numeric=ds_hmeq.select_dtypes(["int64","float64"])
ds_numeric.head()

,BAD,LOAN,MORTDUE,VALUE,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1700,30548,40320.0,9.0,0,0.0,101.466002,1.0,8,37.113614
1,1,1800,28502,43034.0,11.0,0,0.0,88.766030,0.0,8,36.884894
2,0,2300,102370,120953.0,2.0,0,0.0,90.992533,0.0,13,31.588503
3,1,2400,34863,47471.0,12.0,0,0.0,70.491080,1.0,21,38.263601
4,0,2400,98449,117195.0,4.0,0,0.0,93.811775,0.0,13,29.681827

In [10]:
np.random.seed(seed=1234)
msk=np.random.rand(ds_hmeq.shape[0]) <0.7
ds_hmeq_train=ds_numeric[msk]
ds_hmeq_test=ds_numeric[~msk]

ds_hmeq_train_y=ds_hmeq_train["BAD"]
ds_hmeq_train_x=ds_hmeq_train.drop("BAD", axis=1, inplace=False)
ds_hmeq_test_y=ds_hmeq_test["BAD"]
ds_hmeq_test_x=ds_hmeq_test.drop("BAD", axis=1, inplace=False)

In [11]:
naive_model=GaussianNB()
naive_model.fit(X=ds_hmeq_train_x,y=ds_hmeq_train_y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [12]:
naive_model.class_prior_.round(3)
#P(Y=0)=0.907, P(Y=1)=0.093

array([0.907, 0.093])

In [13]:
print("Accuracy:{0:.3f}".format(naive_model.score(ds_hmeq_test_x,ds_hmeq_test_y)))

Accuracy:0.922