In [49]:
import pandas as pd

In [50]:
import sqlite3

In [56]:
connection = sqlite3.connect('DB - Test.db')

In [60]:
query = "SELECT * FROM sqlite_master;"

In [61]:
pd.read_sql_query(query,connection)['sql']

0    CREATE TABLE "order" (\n"timestamp" TEXT,\n  "...
1    CREATE TABLE "good" (\n"goods_id" INTEGER,\n  ...
2    CREATE TABLE "shop" (\n"shop_id" INTEGER,\n  "...
3    CREATE TABLE "log" (\n"timestamp" TEXT,\n  "us...
4    CREATE TABLE "user" (\n"user_id" TEXT,\n  "os"...
Name: sql, dtype: object

In [62]:
query = "SELECT * FROM 'user'"
user = pd.read_sql(query, connection)
print(user.shape)
user.head()

(10000, 3)

                            user_id   os  age
0  --PYPMX8QWg0ioT5zfORmU-S5Lln0lot  And   41
1  -16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv  iOS   31
2  -1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN  iOS   16
3  -3A3L2jnM55B_Q1bRXMjZ6sPnINIj-Y1  And   41
4  -3bhcSgPOIdQAPkPNcchxvECGqGQQ78k  And   42

In [63]:
query = "SELECT * FROM 'log' "
log = pd.read_sql(query, connection)
print(log.shape)
log.head()

(105815, 6)

,timestamp,user_id,event_origin,event_name,event_goods_id,event_shop_id
0,2018-06-11 00:00:00.213,K1d8_t3-QIskaSkrx32oAFu856D8JmLo,shops_ranking,app_page_view,NaN,NaN
1,2018-06-11 00:00:00.810,lwFZ77v_ygk0uU40t1ud3l30EZ6sE2R3,shops_bookmark,app_page_view,NaN,NaN
2,2018-06-11 00:00:00.956,mR-bO6hC9g-m8ERXMRQZaRwJFvzNNdd8,goods_search_result/로브,app_page_view,NaN,NaN
3,2018-06-11 00:00:01.084,K1d8_t3-QIskaSkrx32oAFu856D8JmLo,shops_bookmark,app_page_view,NaN,NaN
4,2018-06-11 00:00:01.561,Yjny5AchUWLiuv4kdeq50COF-S8OFXPd,shops_bookmark,app_page_view,NaN,NaN

# MERGE

In [65]:
user.shape

(10000, 3)

In [70]:
log.shape

(105815, 6)

In [71]:
pd.merge(user, log).head() #중복되지 않은 data는 제거

,user_id,os,age,timestamp,event_origin,event_name,event_goods_id,event_shop_id
0,--PYPMX8QWg0ioT5zfORmU-S5Lln0lot,And,41,2018-06-11 15:57:10.615,shops_bookmark,app_page_view,NaN,NaN
1,--PYPMX8QWg0ioT5zfORmU-S5Lln0lot,And,41,2018-06-11 15:59:05.505,shops_bookmark,app_page_view,NaN,NaN
2,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 00:55:37.309,my_goods,app_page_view,NaN,NaN
3,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 00:55:44.430,my_goods,enter_browser,2506.0,40.0
4,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 01:00:33.295,my_goods,app_page_view,NaN,NaN

In [73]:
pd.merge(user, log, how='outer') #중복 허용

,user_id,os,age,timestamp,event_origin,event_name,event_goods_id,event_shop_id
0,--PYPMX8QWg0ioT5zfORmU-S5Lln0lot,And,41,2018-06-11 15:57:10.615,shops_bookmark,app_page_view,NaN,NaN
1,--PYPMX8QWg0ioT5zfORmU-S5Lln0lot,And,41,2018-06-11 15:59:05.505,shops_bookmark,app_page_view,NaN,NaN
2,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 00:55:37.309,my_goods,app_page_view,NaN,NaN
3,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 00:55:44.430,my_goods,enter_browser,2506.0,40.0
4,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 01:00:33.295,my_goods,app_page_view,NaN,NaN
5,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 01:11:03.608,my_goods,app_page_view,NaN,NaN
6,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 01:11:05.713,my_goods,app_page_view,NaN,NaN
7,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 01:12:09.565,my_goods,app_page_view,NaN,NaN
8,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 01:12:28.850,my_goods,app_page_view,NaN,NaN
9,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:21:04.848,my_goods,app_page_view,NaN,NaN
10,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:21:18.719,my_goods,enter_browser,425.0,22.0
11,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:27:23.809,my_goods,app_page_view,NaN,NaN
12,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:28:42.663,my_goods,enter_browser,425.0,22.0
13,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:30:24.883,my_goods,app_page_view,NaN,NaN
14,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:31:26.044,my_goods,enter_browser,425.0,22.0
15,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:31:26.867,my_goods,app_page_view,NaN,NaN
16,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:34:30.616,my_goods,enter_browser,425.0,22.0
17,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:34:45.644,my_goods,app_page_view,NaN,NaN
18,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:35:08.966,my_goods,enter_browser,324.0,92.0
19,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:35:39.187,my_goods,app_page_view,NaN,NaN
20,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:35:54.009,my_goods,app_page_view,NaN,NaN
21,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 02:35:58.590,my_goods,remove_my_goods,324.0,92.0
22,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 16:15:23.793,my_goods,app_page_view,NaN,NaN
23,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 16:15:36.161,my_goods,enter_browser,425.0,22.0
24,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 16:16:17.091,my_goods,app_page_view,NaN,NaN
25,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 16:16:33.411,shops_bookmark,app_page_view,NaN,NaN
26,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 22:27:56.017,my_goods,app_page_view,NaN,NaN
27,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 22:27:58.920,shops_bookmark,app_page_view,NaN,NaN
28,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 22:27:59.632,my_goods,app_page_view,NaN,NaN
29,-1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN,iOS,16,2018-06-11 22:28:04.500,shops_bookmark,app_page_view,NaN,NaN
...,...,...,...,...,...,...,...,...
105876,zz-aNy7UWfvyrZxO4Fs4K5ewmqZVaMOs,iOS,28,2018-06-11 22:49:23.194,shops_bookmark,app_page_view,NaN,NaN
105877,zznj-LHhddVvuzZmbZpw6MSylLO64982,And,27,2018-06-11 22:27:31.415,shops_bookmark,app_page_view,NaN,NaN
105878,zznj-LHhddVvuzZmbZpw6MSylLO64982,And,27,2018-06-11 22:28:09.993,shops_bookmark,enter_browser,NaN,28.0
105879,zznj-LHhddVvuzZmbZpw6MSylLO64982,And,27,2018-06-11 22:34:36.403,shops_bookmark,app_page_view,NaN,NaN
105880,zznj-LHhddVvuzZmbZpw6MSylLO64982,And,27,2018-06-11 22:34:40.425,shops_bookmark,app_page_view,NaN,NaN
105881,zznj-LHhddVvuzZmbZpw6MSylLO64982,And,27,2018-06-11 22:34:56.600,shops_bookmark,app_page_view,NaN,NaN
105882,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:08:54.064,goods_search_result/반팔티,app_page_view,NaN,NaN
105883,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:14:24.423,goods_search_result/반팔티,app_page_view,NaN,NaN
105884,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:18:56.931,my_goods,app_page_view,NaN,NaN
105885,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:19:44.224,shops_ranking,app_page_view,NaN,NaN
105886,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:21:07.558,goods_search_result/반팔티,app_page_view,NaN,NaN
105887,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:21:13.287,goods_search_result/반팔티,enter_browser,3978.0,41.0
105888,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:21:22.424,goods_search_result/반팔티,app_page_view,NaN,NaN
105889,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:21:25.887,goods_search_result/반팔티,enter_browser,NaN,41.0
105890,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:22:13.100,goods_search_result/반팔티,app_page_view,NaN,NaN
105891,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:22:14.192,goods_search_result/반팔티,enter_browser,3978.0,41.0
105892,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:30:56.773,goods_search_result/반팔티,app_page_view,NaN,NaN
105893,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:37:23.876,my_goods,app_page_view,NaN,NaN
105894,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:44:42.722,shops_ranking,app_page_view,NaN,NaN
105895,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 17:47:46.046,my_goods,app_page_view,NaN,NaN
105896,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 18:09:56.244,my_goods,app_page_view,NaN,NaN
105897,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 22:22:12.883,my_goods,app_page_view,NaN,NaN
105898,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 22:39:29.921,goods_search_result/반팔,app_page_view,NaN,NaN
105899,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 22:40:02.809,my_goods,app_page_view,NaN,NaN
105900,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 22:40:24.013,goods_search_result/반팔,app_page_view,NaN,NaN
105901,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 22:49:05.683,goods_search_result/반팔,app_page_view,NaN,NaN
105902,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 22:53:40.174,my_goods,app_page_view,NaN,NaN
105903,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 23:01:25.111,my_goods,app_page_view,NaN,NaN
105904,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 23:02:30.181,my_goods,app_page_view,NaN,NaN
105905,zzxBQ7i7mttX0cv1GqFuuMstg7keEkdV,And,16,2018-06-11 23:03:43.382,my_goods,app_page_view,NaN,NaN

In [74]:
t1=pd.merge(user,log,how='inner')
t1.shape

(105815, 8)

In [75]:
t2=pd.merge(user,log,how='outer')
t2.shape

(105906, 8)

In [76]:
t3=pd.merge(user,log,how='left')
t3.shape

(105906, 8)