In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
ds_asso=[["우유","라면"],
        ["라면"],
        ["아이스크림","우유"],
        ["과자","라면"],
        ["아이스크림"]]
ds_asso

[['우유', '라면'], ['라면'], ['아이스크림', '우유'], ['과자', '라면'], ['아이스크림']]

In [3]:
enc=TransactionEncoder()
arr=enc.fit_transform(X=ds_asso)
ds_pre=pd.DataFrame(arr,columns=enc.columns_)
ds_pre

      과자     라면  아이스크림     우유
0  False   True  False   True
1  False   True  False  False
2  False  False   True   True
3   True   True  False  False
4  False  False   True  False

In [4]:
min_support=0.5
ds_freq=apriori(ds_pre, min_support=0.5, use_colnames=True)
ds_freq.round(3)

   support itemsets
0      0.6     (라면)

In [5]:
ds_asso_rule=association_rules(ds_freq,metric="confidence", min_threshold=0.5)
ds_asso_rule.round(3)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []